/* ------------------------------- */
/*        FORM WINDOWS 98          */
/* ------------------------------- */

.win98-title-section {
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.win98-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.win98-input {
    width: 250px;
    padding: 4px;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    background: #fff;
    border: 2px solid #fff;
    border-right-color: #7d7d7d;
    border-bottom-color: #7d7d7d;
}

.win98-button {
    padding: 3px 10px;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    background: #C0C0C0;
    border: 2px solid #fff;
    border-right-color: #7d7d7d;
    border-bottom-color: #7d7d7d;
    cursor: pointer;
}

    .win98-button:hover {
        background: #e0e0e0;
    }

    .win98-button:active {
        border: 2px solid #7d7d7d;
        border-right-color: #fff;
        border-bottom-color: #fff;
    }

/* Bottone Elimina stile Win98 rosso */
.win98-button-error {
    padding: 3px 10px;
    background: #d80000;
    color: white;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    border: 2px solid #fff;
    border-right-color: #7d0000;
    border-bottom-color: #7d0000;
    cursor: pointer;
}

    .win98-button-error:active {
        border: 2px solid #7d0000;
        border-right-color: #fff;
        border-bottom-color: #fff;
    }


/* ------------------------------- */
/* TABLE WINDOWS 98 */
/* ------------------------------- */

.win98-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
}

    .win98-table th {
        background: #000080;
        color: white;
        padding: 5px;
        border: 2px solid #000;
    }

    .win98-table td {
        padding: 5px;
        background: #C0C0C0;
        border: 2px solid #fff;
        border-right-color: #7d7d7d;
        border-bottom-color: #7d7d7d;
    }

    .win98-table tr:hover td {
        background: #dcdcdc;
    }
