@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Totale Verbali per Trasgressore";
}

<h2>Totale dei verbali per trasgressore</h2>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Trasgressore</th>
            <th>Totale Verbali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Trasgressore</td>
                <td>@item.TotaleVerbali</td>
            </tr>
        }
    </tbody>
</table>
